{% extends "wms/base.html" %}

{% block page_header %}
  {% for order in orders %}
  <div id="breadcrumbs" class="row">
    <a href="{% url 'wms:orders' %}">Заявки</a><a>&nbsp;>&nbsp;</a>
    <a href="{% url 'wms:atm' atm.id %}">Груз {{ atm.name }} s/n {{ atm.serial_num }}</a>
  </div>
  {% endfor %}
{% endblock page_header %}


{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">№ заявки клиента</th>
      <th scope="col">Клиент</th>
      <th scope="col">Груз</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата приема</th>
      <th scope="col">Дата отгрузки</th>
      <th scope="col">Пользователь</th>
      <th scope="col">Тип операции</th>
      <th scope="col">Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.logistic_order }}</td>
        <td>{{ order.client }}</td>
        <td>{{ order.atm }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.date_in|date:'d.m.Y' }}</td>
        <td>{{ order.date_out|date:'d.m.Y' }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.operation_client }}</td>
        <td>{{ order.date_created|date:'d.m.Y H:m'  }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>Не добавлено ни одной заявки. Добавьте первую заявку.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary mb-3" href="">Добавить новую заявку.</a>
</div>
{% endblock content %}