{% extends "wms/base.html" %}

{% block page_header %}
  {% for order in orders %}
    <a href="{% url 'wms:atms' %}">Грузы</a><a>&nbsp;>&nbsp;</a>
    <a href="{% url 'wms:atm' atm.id %}">Груз: наименование {{ atm.name }} s/n {{ atm.serial_num }}</a>
  {% endfor %}
{% endblock page_header %}


{% block content %}
<ul>
  <li scope="col"><b>Статус:</b> {{ atm.status }}</li>
  <li scope="col"><b>Клиент:</b> {{ atm.client }}</li>
  <li scope="col"><b>Склад:</b> {{ atm.storage }}</li>
  <li scope="col"><b>Дата приема:</b> {{ atm.date_in|date:'d.m.Y' }}</li>
  <li scope="col"><b>Дата отгрузки:</b> {{ atm.date_out|date:'d.m.Y' }}</li>
  <li scope="col"><b>Наименование:</b> {{ atm.name }}</li>
  <li scope="col"><b>Серийный номер:</b> {{ atm.serial_num }}</li>
  <li scope="col"><b>ID груза:</b> {{ atm.atm_id }}</li>
  <li scope="col"><b>Размер:</b> {{ atm.size }}</li>
  <li scope="col"><b>Комментарий:</b> {{ atm.commentary }}</li>
</ul>

<h4>Все связанные с грузом заявки</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">№ заявки клиента</th>
      <th scope="col">Клиент</th>
      <th scope="col">Груз</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата приема</th>
      <th scope="col">Дата отгрузки</th>
      <th scope="col">Пользователь</th>
      <th scope="col">Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>
          <a href="{% url 'wms:order' item.order.id %}">{{ item.atm.serial_num }}</a>
        </td>
        <td>{{ item.order.client }}</td>
        <td>{{ item.order.atm }}</td>
        <td>{{ item.order.status }}</td>
        <td>{{ item.order.date_in|date:'d.m.Y' }}</td>
        <td>{{ item.order.date_out|date:'d.m.Y' }}</td>
        <td>{{ item.order.customer }}</td>
        <td>{{ item.order.date_created|date:'d.m.Y H:m' }}</td>
    {% empty %}
      <tr>
        <td>Не добавлено ни одной заявки. Добавьте первую заявку.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}