{% extends "wms/base.html" %}

{% block page_header %}
  <h4 class="text-center fw-normal">Клиенты</h4>
{% endblock page_header %}


{% block content %}
<p class="d-flex justify-content-center form-text text-center">В данной таблице отображены все имеющиеся клиенты по ответственному хранению. Любой груз при создании обязательно привязывается к конкретному клиенту.</p>
<div class="d-flex justify-content-center">
  <a class="btn btn-success btn-sm mb-2 fw-normal" href="{% url 'wms:new_client' %}">Добавить нового клиента</a>
</div>
<table class="table table-sm table-hover table-responsive table-borderless w-100 d-block table-bordered border-light">
  <thead class="table-light text-center text-muted">
    <tr>
      <th class="col align-middle fw-normal">Наименование</th>
      <th class="col-1 align-middle fw-normal">Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr class="text-center fw-normal">
      <td class="text-left align-middle">
        <a class="text-decoration-none" href="{% url 'wms:client' client.id %}">{{ client.name }}</a>
      </td>
      <td class="col-1 align-middle">
        <a class="link-secondary" href="{% url 'wms:update_client' client.id %}"><i class="bi bi-pencil-square fs-5" title="Изменить"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr class="col-12">
      <td>Не добавлено ни одного клиента. Добавьте первого клиента.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}