{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Клиенты</h4>
{% endblock page_header %}


{% block content %}
<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Дата добавления</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>
        <a href="{% url 'wms:client' client.id %}">{{ client.name }}</a>
      </td>
      <td>{{ client.pub_date|date:'d.m.Y H:m' }}</td>
      <td>
        <a class="btn btn-sm btn-secondary" href="{% url 'wms:update_client' client.id %}">Изменить</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>Не добавлено ни одного клиента. Добавьте первого клиента.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary mb-3" href="{% url 'wms:new_client' %}">Добавить нового клиента</a>
</div>
{% endblock content %}