{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Клиенты</h4>
{% endblock page_header %}


{% block content %}
<table class="table table-hover table-sm table-bordered table-responsive text-center w-100 d-block d-md-table">
  <thead class="thead-light">
    <tr>
      <th>Наименование</th>
      <th>Дата добавления</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td class="col-5">
        <a class="text-decoration-none" href="{% url 'wms:client' client.id %}">{{ client.name }}</a>
      </td>
      <td class="col-6">{{ client.pub_date|date:'d.m.Y H:m' }}</td>
      <td class="col-1">
        <a class="link-secondary" href="{% url 'wms:update_client' client.id %}"><i class="bi bi-pencil-square" title="Изменить"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr class="col-12">
      <td>Не добавлено ни одного клиента. Добавьте первого клиента.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary mb-3" href="{% url 'wms:new_client' %}">Добавить нового клиента</a>
</div>
{% endblock content %}