{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Пользователи</h4>
{% endblock page_header %}


{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Должность</th>
      <th scope="col">Телефон</th>
      <th scope="col">Email</th>
      <th scope="col">Аккаунт</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
      <tr>
        <td>
          <a href="{% url 'wms:customer' customer.id %}">{{ customer.name }}</a>
        </td>
        <td>{{ customer.post }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.user }}</td>
        <td>
          <a class="btn btn-sm btn-info" href="{% url 'wms:update_customer' customer.id %}">Изменить</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td>Не добавлено ни одного пользователя. Добавьте первого пользователя.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary mb-3" href="{% url 'wms:new_customer' %}">Добавить нового пользователя</a>
</div>

{% endblock content %}