{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Вы уверены что желаете позицию {{ orderitem.name }}?</h4>

{% endblock page_header %}

{% block content %}

<form action="{% url 'wms:delete_orderitem' orderitem.id %}" method="post" novalidate autocomplete="off">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger mb-3">Удалить</button>
  <a class="btn btn-secondary mb-3" href="{% url 'wms:order' orderitem.order.id %}">Отмена</a>
</form>

{% endblock content %}