<p>Коллеги, добрый день!</p>

<p>Просим Вас организовать {{ order.date_in|date:'d.m.Y' }} прием грузов. 
  При приеме груза необходимо загрузить в личном кабинете 4 фотографии груза с каждой стороны. 
  При наличии повреждений, царапин, сколов сделать фото крупным планом.</p>


<p><b>Список грузов:</b></p>
<ol>
  {% for item in items %}
  <li>
    <p>Клиент: {{ item.atm.client }}</p>
    <p>Наименование: {{ item.atm.name }}</p>
    <p>Серийный номер: {{ item.atm.serial_num }}</p>
    <p>Номер ID: {{ item.atm.atm_id }}</p>

  </li>
  {% endfor %}
</ol>


<p>Спасибо.</p>

<p>C Уважением, менеджер АБС-СЕРВИС</p>
<p>тел. 89214525352</p>
<p>email. warehouse@test.ru</p>

