{% extends "wms/base.html" %}

{% block page_header %}

<h4 class="text-center fw-normal">Добавление нового склада</h4>

{% endblock page_header %}

{% block content %}

<form method="post" autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.contractor.label }}</div>
      {{ form.contractor }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.address.label }}</div>
      {{ form.address }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_pallet.label }}</div>
      {{ form.rate_pallet }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_oversize_pallet.label }}</div>
      {{ form.rate_oversize_pallet }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_volume.label }}</div>
      {{ form.rate_volume }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_in.label }}</div>
      {{ form.rate_in }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_out.label }}</div>
      {{ form.rate_out }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_oversize_in.label }}</div>
      {{ form.rate_oversize_in }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.rate_oversize_out.label }}</div>
      {{ form.rate_oversize_out }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success btn-sm mb-2 fw-normal">Сохранить новый склад</button>
</form>

{% endblock content %}