{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Добавление нового груза</h4>

{% endblock page_header %}

{% block content %}

<form method="post" novalidate autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
      {{ form.status }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.client }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.storage }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.date_in }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.date_out }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.name }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.serial_num }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.atm_id }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.size }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.commentary }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-3">Сохранить груз</button>
</form>

{% endblock content %}