{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Добавление новой операции</h4>

{% endblock page_header %}

{% block content %}

<form method="post" novalidate autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
      {{ form.client|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.contractor|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.name|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.cost_client|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.cost_contractor|as_crispy_field }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-3">Сохранить операцию</button>
</form>

{% endblock content %}