{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Добавление нового пользователя</h4>

{% endblock page_header %}

{% block content %}

<form method="post" autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.user.label }}</div>
      {{ form.user }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.name.label }}</div>
      {{ form.name }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.post.label }}</div>
      {{ form.post }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.phone.label }}</div>
      {{ form.phone }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.email.label }}</div>
      {{ form.email }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-success mb-3">Сохранить нового пользователя</button>
</form>

{% endblock content %}