{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Операции</h4>
{% endblock page_header %}


{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Контрагент</th>
      <th scope="col">Наименование операции</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Себестоимость</th>
    </tr>
  </thead>
  <tbody>
    {% for operation in operations %}
      <tr>
        <td>{{ operation.contractor }}</td>
        <td>{{ operation.name }}</td>
        <td>{{ operation.cost_client }}</td>
        <td>{{ operation.cost_contractor }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>Не добавлено ни одной операции. Добавьте первую операцию.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary mb-3" href="{% url 'wms:new_operation' %}">Добавить новую операцию.</a>
</div>

{% endblock content %}