{% extends "wms/base.html" %}

{% block page_header %}
  <h4 class="text-center fw-normal">Заявки</h4>
{% endblock page_header %}


{% block content %}
<p class="d-flex justify-content-center form-text text-center">Здесь представлен список всех имеющиеся в системе заявок. Вы можете добавить новую заявку, изменить данные по конкретной заявке или полностью удалить её из системы.</p>
<div class="d-flex justify-content-center">
  <a class="btn btn-success btn-sm mb-2 fw-normal" href="{% url 'wms:new_order' %}">Добавить новую заявку</a>
</div>
<table class="table table-sm table-hover table-responsive-sm table-borderless table-bordered border-light caption">
  <thead class="table-light text-center text-muted">
    <tr>
      <th class="align-middle fw-normal">№ заявки</th>
      <th class="align-middle fw-normal">Клиент</th>
      <th class="align-middle fw-normal">Статус</th>
      <th class="align-middle fw-normal">Подробнее</th>
      <th class="align-middle fw-normal">Изменить</th>
      <th class="align-middle fw-normal">Удалить</th>
    </tr>
  </thead>
  <tbody class="col">
    {% for order in orders %}
      <tr class="text-center fw-normal">
        <td class="col-3 align-middle">{{ order.logistic_order }}</td>
        {% if order.client == None %}
        <td class="col-3 align-middle"></td>
        {% else %}
        <td class="col-3 align-middle">{{ order.client }}</td>
        {% endif %}
        <td class="col-1 text-center align-middle">{{ order.status }}</td>
        <td class="col-1 text-center align-middle">
          <a class="link-primary" href="{% url 'wms:order' order.id %}"><i class="bi bi-info-square fs-5" title="Подробнее"></i></a>
        </td>
        <td class="col-1 text-center align-middle">
          <a class="link-secondary" href="{% url 'wms:update_order' order.id %}"><i class="bi bi-pencil-square fs-5" title="Изменить"></i></a>
        </td>
        <td class="col-1 text-center align-middle">
          <a class="link-danger" href="{% url 'wms:delete_order' order.id %}"><i class="bi bi-trash fs-5" title="Удалить"></i></a>
        </td>
      </tr>
    {% empty %}
  <tfoot>
    <tr class="text-center fw-normal">
      <td class="col align-middle" colspan="10">Не найдено ни одной заявки. Добавьте новую заявку.</td>
    <tr>
  </tfoot>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}