{% extends "wms/base.html" %}

{% block page_header %}
  <h4 class="text-center fw-normal">Заявка № {{ order.logistic_order }}</h4>
{% endblock page_header %}


{% block content %}
<div class="container">
  <div class="row">

    <div class="col-md-6">

      <div class="row bg-light text-dark border border-white border-3 rounded-3">
        <table class="table table-sm table-hover table-responsive table-borderless w-100 d-block table-bordered border-light">
          <h5 class="text-center fw-normal mt-3 mb-3">Список позиций</h5>
          <thead class="table-light text-center">
            <tr>
              <th class="col-1 align-middle fw-normal text-muted">Клиент</th>
              <th class="col-3 align-middle fw-normal text-muted">Наименование</th>
              <th class="col align-middle fw-normal text-muted">s/n</th>
              <th class="col-1 align-middle fw-normal text-muted">ID</th>
              <th class="col-1 align-middle fw-normal"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr class="text-center">
                <td class="col-1 align-middle text-center">{{ item.atm.client }}</td>
                <td class="col-3 align-middle text-center">{{ item.atm.name }}</td>
                <td class="col text-center align-middle">
                  <a class="text-decoration-none" href="{% url 'wms:atm' item.atm.id %}">{{ item.atm.serial_num }}</a>
                </td>
                {% if item.atm.atm_id == None %}
                <td class="col-1 text-center align-middle"></td>
                {% else %}
                <td class="col-1 text-center align-middle">{{ item.atm.atm_id }}</td>
                {% endif %}
                <td class="col-1 text-center align-middle">
                  <a class="link-primary" href="{% url 'wms:delete_orderitem_from_list' item.id %}"><i class="bi bi-x-circle fs-7" title="Исключить из заявки"></i></a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="text-center text-muted" colspan="10">Не добавлено ни одной позиции. Добавьте первый груз.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="row bg-light text-dark border border-white border-3 rounded-3 justify-content-center">


        <div class="row">
          <div class="col">
            <h5 class="text-center fw-normal mt-3 mb-3">Поиск груза в системе для добавления в заявку</h5>
            <form method="get">
              <div class="input-group mb-3">
                {{myFilter.form.serial_num}}
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Поиск</button>
              </div>
              <div class="input-group mb-3">
                {{myFilter.form.storage}}
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Поиск</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
          {% if atms_page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ atms_page_obj.previous_page_number }}">
                  <i class="bi bi-arrow-bar-left fs-5 align-middle" title="Добавить в заявку"></i>Предыдущая страница
                </a>
              </li>
          {% endif %}
          {% if atms_page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ atms_page_obj.next_page_number }}">
                  Следующая страница<i class="bi bi-arrow-bar-right fs-5 align-middle" title="Добавить в заявку"></i>
                </a>
              </li>
          {% endif %}
            </ul>
          </nav>
        </div>
        <div class="row">
          <div class="col border border-1 pl-3 pr-3 pt-1 mb-2 bg-white bg-gradient rounded-3">
                  {% for atm in atms_page_obj %}

                  <div class="row card mb-2 border-secondary border-1 rounded-3 lh-1">

                      <div class="card-header col">
                        <div class="row">
                          <div class="col-8 bg-info bg-light text-left">
                            <span>{{ atm.client }}&nbsp;</span><span>{{ atm.name }}</span>
                          </div>
                          <div class="col align-self-center text-center">
                        
                            <a class="link-secondary" href="{% url 'wms:update_atm' atm.id %}">
                              <i class="bi bi-pencil-square fs-5" title="Изменить"></i>
                            </a>
  
                          </div>
                          <div class="col align-self-center text-center">
  
                          
                            <a class="link-success" href="{% url 'wms:new_order_item' order_id atm.id %}">
                              <i class="bi bi-plus-circle fs-5" title="Добавить в заявку"></i>
                            </a>
                          
                          </div>
                        </div>
                        
                      </div>

                    <div class="card-body">

                      <div class="row">

                        <div class="col">
                          <p><span class="card-text text-muted">Серийный номер:&nbsp;</span><span>{{ atm.serial_num }}</span></p>
                          <p><span class="card-text text-muted">Статус:&nbsp;</span><span>{{ atm.status }}</span></p>
                          <p><span class="card-text text-muted">Адрес:&nbsp;</span><span>{{ atm.storage }}</span></p>                                                  
                        </div>
                      
                      </div>

                    </div>
                  </div>

                  {% empty %}
                  <div class="card">
                    <div class="card-body">
                      Ничего не найдено.
                    </div>
                  </div>
                  {% endfor %}
          </div>
        </div>

      </div>

      

            

    </div>
    <div class="col-md-6">


      <div class="row bg-light text-dark border border-white border-3 rounded-3 p-2">
        <h5 class="text-center fw-normal mt-3 mb-3">Информация по заявке</h5>
        <div class="col border border-1 pl-3 pr-3 pt-1 mb-2 bg-white bg-gradient rounded-3">
          <table class="table table-sm table-hover table-responsive table-borderless w-100 d-block">
            <tbody class="text-center fw-normal">
              <tr class="text-left text-muted">
                <p>№ заявки клиента:&nbsp;&nbsp;&nbsp;{{ order.logistic_order }}</p>
                <p>Клиент:&nbsp;&nbsp;&nbsp;{{ order.client }}</p>
                <p>Дата приема:&nbsp;&nbsp;&nbsp;{{ order.date_in|date:'d.m.Y' }}</p>
                <p>Дата отгрузки:&nbsp;&nbsp;&nbsp;{{ order.date_out|date:'d.m.Y' }}</p>
                <p>Статус:&nbsp;&nbsp;&nbsp;{{ order.status }}</p>
                <p>Дата создания:&nbsp;&nbsp;&nbsp;{{ order.date_created|date:'d.m.Y H:m' }}</p>
              </tr>
            </tbody>
          </table>
        </div>
        
        <a class="btn btn-outline-success mb-3" href="{% url 'wms:emailsuccess' order.id %}">Отправить письмо</a>
      </div>

      <div class="row bg-light text-dark border border-white border-3 rounded-3 mb-3">
        <div class="container">
          <div class="col justify-content-center">
            <h5 class="text-center fw-normal mt-3 mb-3">Фотографии по заявке</h5>
            <div class="row">
              <form method='POST' action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group m-3">
                  <label>Номер заявки</label>
                  <select name="order" class="form-control" readonly>
                      
                      <option value='{{order_id}}' selected>{{ order }}</option>

                  </select>
                </div>

                <div class="form-group m-3">
                    <label>Описание</label>
                    <input required name="description" type="text" placeholder="Введите описание"
                        class="form-control">
                </div>

                <div class="form-group m-3">
                    <label>Груз</label>
                    <select name="atm" class="form-control">
                        <option value=''>Выберите груз...</option>

                        {% for item in items %}
                        <option value='{{ item.atm.id }}'>{{ item.atm }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group m-3">
                    <label>Прикрепите фотографии</label>
                    <input required name="images" type="file" multiple class="form-control-file">
                </div>

                <button type='submit' class="btn btn-primary m-3">Сохранить</button>

              </form>
            </div>

            
            <div class="row">

              <div class="col border border-1 pl-3 pr-3 pt-1 mb-2 bg-white bg-gradient rounded-3">

                {% for photo in photos %}
                <div class="row-md-4">
                    <div class="card my-2 bg-light bg-gradient">
                        <img style="object-fit: cover" class="image-thumbail rounded d-block" src="{{photo.image.url}}" alt="Card image cap">

                        <div class="card-body">
                            <small>Номер заявки: {{photo.order.logistic_order}}</small><br>
                            <small>Серийный номер груза: {{photo.atm.serial_num}}</small><br>
                            <small>Описание: {{photo.description}}</small>
                        </div>

                        <a href="{% url 'gallery:photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">Просмотр</a>
                    </div>
                </div>
                {% empty %}
                <h4>Фотографии отсутствуют...</h4>
                {% endfor %}

              </div>

                

            </div>


          </div>
        </div>
      </div>

      
    </div>

  </div>
</div>
{% endblock content %}