{% extends "wms/base.html" %}

{% block page_header %}
  <h4 class="text-center fw-bold">Заявки</h4>
{% endblock page_header %}


{% block content %}
<div class="d-flex justify-content-center">
  <a class="btn btn-success mb-2 fw-light" href="{% url 'wms:new_order' %}">Добавить новую заявку</a>
</div>
<table class="table table-sm table-hover table-responsive table-borderless w-100 d-block table-bordered border-light">
  <thead class="table-light text-center">
    <tr>
      <th class="align-middle fw-bold">Создана</th>
      <th class="align-middle fw-bold">№ заявки</th>
      <th class="align-middle fw-bold">Клиент</th>
      <th class="align-middle fw-bold">Принято</th>
      <th class="align-middle fw-bold">Отгружено</th>
      <th class="align-middle fw-bold">Пользователь</th>
      <th class="align-middle fw-bold">Статус</th>
      <th class="align-middle fw-bold">Подробнее</th>
      <th class="align-middle fw-bold">Изменить</th>
      <th class="align-middle fw-bold">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr class="text-center fw-normal">
        <td class="col-1 align-middle">{{ order.date_created|date:'d.m.Y H:m' }}</td>
        <td class="col-1 align-middle">{{ order.logistic_order }}</td>
        {% if order.client == None %}
        <td class="col-1 align-middle"></td>
        {% else %}
        <td class="col-1 align-middle">{{ order.client }}</td>
        {% endif %}
        <td class="col-1 align-middle">{{ order.date_in|date:'d.m.Y' }}</td>
        <td class="col-1 align-middle">{{ order.date_out|date:'d.m.Y' }}</td>
        {% if order.customer == None %}
        <td class="col-1 text-break align-middle"></td>
        {% else %}
        <td class="col-1 text-break align-middle">{{ order.customer }}</td>
        {% endif %}
        <td class="col-1 text-center align-middle">{{ order.status }}</td>
        <td class="col-1 text-center align-middle">
          <a class="link-primary" href="{% url 'wms:order' order.id %}"><i class="bi bi-info-square" title="Подробнее"></i></a>
        </td>
        <td class="col-1 text-center align-middle">
          <a class="link-secondary" href="{% url 'wms:update_order' order.id %}"><i class="bi bi-pencil-square" title="Изменить"></i></a>
        </td>
        <td class="col-1 text-center align-middle">
          <a class="link-danger" href="{% url 'wms:delete_order' order.id %}"><i class="bi bi-trash" title="Удалить"></i></a>
        </td>
      </tr>
    {% empty %}
      <tr class="col-12">
        <td>Не добавлено ни одной заявки. Добавьте первую заявку.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}