{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Заявка № {{ order }}</h4>
{% endblock page_header %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <h4>Подробная информация по заявке:</h4>
      </div>
      <a scope="col"><b>Дата создания:</b> {{ order.date_created|date:'d.m.Y H:m' }}</a><br>
      <a scope="col"><b>Пользователь:</b> {{ order.customer }}</a><br>
      <a scope="col"><b>№ заявки клиента:</b> {{ order.logistic_order }}</a><br>
      <a scope="col"><b>Клиент:</b> {{ order.client }}</a><br>
      <a scope="col"><b>Статус:</b> {{ order.status }}</a><br>
      <a scope="col"><b>Дата приема:</b> {{ order.date_in|date:'d.m.Y' }}</a><br>
      <a scope="col"><b>Дата отгрузки:</b> {{ order.date_out|date:'d.m.Y' }}</a><br>
    </div>
    <div class="col-sm">
      <div class="row">
        <h4>Позиции в текущей заявке</h4>
      </div>
      <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Клиент</th>
            <th scope="col">Наименование</th>
            <th scope="col">S/N</th>
            <th scope="col">ID</th>
            <th scope="col">Изменение</th>
            <th scope="col">Удаление</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.atm.client }}</td>
              <td>{{ item.atm.name }}</td>
              <td>
                <a href="{% url 'wms:atm' item.atm.id %}">{{ item.atm.serial_num }}</a>
              </td>
              {% if item.atm.atm_id == None %}
              <td></td>
              {% else %}
              <td>{{ item.atm.atm_id }}</td>
              {% endif %}
              <td>
                <a class="btn btn-sm btn-secondary" href="{% url 'wms:update_atm' item.atm.id %}">Изменить</a>
              </td>
              <td>
                <a class="btn btn-sm btn-secondary" href="{% url 'wms:delete_orderitem_from_list' item.id %}">Удалить</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td>Не добавлено ни одного груза. Добавьте первый груз.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <h4>Список всех грузов для добавления в заявку</h4>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-body">

          <form method="get">
            <a>Серийный номер: </a>{{myFilter.form.serial_num}}
            <a>Склад: </a>{{myFilter.form.storage}}

            <button class="btn btn-primary" type="submit">Search</button>
          </form>

        </div>
      </div>
      
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Статус</th>
          <th scope="col">Клиент</th>
          <th scope="col">Склад</th>
          <th scope="col">Дата приема</th>
          <th scope="col">Дата отгрузки</th>
          <th scope="col">Наименование</th>
          <th scope="col">S/N</th>
          <th scope="col">Изменение</th>
          <th scope="col">Добавление</th>
        </tr>
      </thead>
      <tbody>
        {% for atm in atms_page_obj %}
          <tr>
            <td>{{ atm.status }}</td>
            <td>{{ atm.client }}</td>
            <td>{{ atm.storage }}</td>
            <td>{{ atm.date_in|date:'d.m.Y' }}</td>
            <td>{{ atm.date_out|date:'d.m.Y' }}</td>
            <td>{{ atm.name }}</td>
            <td>
              <a href="{% url 'wms:atm' atm.id %}">{{ atm.serial_num }}</a>
            </td>
            <td>
              <a class="btn btn-sm btn-secondary" href="{% url 'wms:update_atm' atm.id %}">Изменить</a>
            </td>
            <td>
              <a class="btn btn-sm btn-secondary" href="{% url 'wms:new_order_item' order_id atm.id %}">Добавить</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td>Ничего не найдено.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
    {% if atms_page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ atms_page_obj.previous_page_number }}">Предыдущая</a></li>
    {% endif %}
    {% if atms_page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ atms_page_obj.next_page_number }}">Следующая</a></li>
    {% endif %}
      </ul>
    </nav>
</div>
{% endblock content %}