{% extends "wms/base.html" %}

{% block page_header %}
  <h4 class="text-center fw-normal">Склады</h4>
{% endblock page_header %}


{% block content %}
<p class="d-flex justify-content-center form-text">Здесь представлены все имеющиеся в системе адреса складов с указанием тарифов на каждом складе.</p>
<div class="d-flex justify-content-center">
  <a class="btn btn-success btn-sm mb-2 fw-normal" href="{% url 'wms:new_storage' %}">Добавить новый склад</a>
</div>
<table class="table table-sm table-hover table-responsive table-borderless w-100 d-block table-bordered border-light">
  <thead class="table-light text-center text-muted">
    <tr>
      <tr>
        <th rowspan="2" class="col-2 align-middle fw-normal">Местонахождение</th>
        <th colspan="3" class="col-3 align-middle fw-normal">Хранение</th>
        <th colspan="2" class="col-2 align-middle fw-normal">Прием</th>
        <th colspan="2" class="col-2 align-middle fw-normal">Отгрузка</th>
        <th rowspan="2" class="col-1 align-middle fw-normal">Подробнее</th>
        <th rowspan="2" class="col-1 align-middle fw-normal">Изменить</th>
      </tr>
      <tr>
        <th class="align-middle fw-normal">EUR</th>
        <th class="align-middle fw-normal">FIN</th>
        <th class="align-middle fw-normal">1 м<sup>3</sup></th>
        <th class="align-middle fw-normal">EUR</th>
        <th class="align-middle fw-normal">FIN</th>
        <th class="align-middle fw-normal">EUR</th>
        <th class="align-middle fw-normal">FIN</th> 
      </tr>
    </tr>
  </thead>
  <tbody>
    {% for storage in storages %}
      <tr class="text-center fw-normal">
        <td class="col-1 align-middle">{{ storage.address }}</td>
        <td class="col-1 align-middle">{{ storage.rate_pallet }}</td>
        <td class="col-1 align-middle">{{ storage.rate_oversize_pallet }}</td>
        <td class="col-1 align-middle">{{ storage.rate_volume }}</td>
        <td class="col-1 align-middle">{{ storage.rate_in }}</td>
        <td class="col-1 align-middle">{{ storage.rate_out }}</td>
        <td class="col-1 align-middle">{{ storage.rate_oversize_in }}</td>
        <td class="col-1 align-middle">{{ storage.rate_oversize_out }}</td>
        <td class="col-1 align-middle">
          <a class="link-primary" href="{% url 'wms:storage' storage.id %}"><i class="bi bi-info-square fs-5" title="Подробнее"></i></a>
        </td>
        <td class="col-1 align-middle">
          <a class="link-secondary" href="{% url 'wms:update_storage' storage.id %}"><i class="bi bi-pencil-square fs-5" title="Изменить"></i></a>
        </td>
      </tr>
    {% empty %}
      <tr class="col-12">
        <td>Не добавлено ни одного склада. Добавьте первый адрес.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}