{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Редактирование данных по грузу</h4>

{% endblock page_header %}

{% block content %}

<form method="post" novalidate autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
      {{ form.orders|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.status|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.client|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.storage|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.date_in|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.date_out|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.name|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.serial_num|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.atm_id|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.size|as_crispy_field }}
      </div>
    </div>
    <div class="col-12">
      <div class="mb-3">
      {{ form.commentary|as_crispy_field }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-3">Сохранить данные по грузу</button>
</form>

{% endblock content %}