{% extends "wms/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}

<h4>Редактирование заявки</h4>

{% endblock page_header %}

{% block content %}

<form method="post" enctype="multipart/form-data" autocomplete="off">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.customer.label }}</div>
      {{ form.customer }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.client.label }}</div>
      {{ form.client }}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.storage.label }}</div>
      {{ form.storage }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.status.label }}</div>
      {{ form.status }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.logistic_order.label }}</div>
      {{ form.logistic_order }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.storage_order.label }}</div>
      {{ form.storage_order }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.date_in.label }}</div>
      {{ form.date_in }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.date_out.label }}</div>
      {{ form.date_out }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.driver.label }}</div>
      {{ form.driver }}
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <div class="mb-2">{{ form.driver_car.label }}</div>
      {{ form.driver_car }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success mb-3">Сохранить данные по заявке</button>
</form>

{% endblock content %}