{% extends "wms/base.html" %}

{% block page_header %}
  <h4>Регистрация</h4>
{% endblock page_header %}

{% block content %}

  <form method="post" action="{% url 'users:register' %}" class="form">
    <div>
      {% csrf_token %}
      {% for field in form %}
      <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
          {% endfor %}
      </p>
      {% endfor %}
    <button class="btn btn-outline-success" type="submit">Регистрация</button>
  </form>
{% endblock content %}